<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Morse code</title>
</head>

<body>
  <h1>Text to Morse Code converter</h1>
  <form action="/" method="post" novalidate>
    <div >
      <textarea rows="5" name="text" placeholder="Write text...."></textarea>
    </div>
    <div> <button type="submit" >Text to morsecode</button> </div>
  </form>
  <p>Text : {{text}} </p>
  <p>Morsecode : {{morsecode}}</p>

  <h1>Morse Code to Text converter</h1>
  <form action="/reverse" method="post" novalidate>
    <div >
      <textarea rows="5" name="code" placeholder="Write text...."></textarea>
    </div>
    <div> <button type="submit" >Morsecode to text</button> </div>
  </form>
  <p>Morsecode : {{morsecode0}}</p>
  <p>Text : {{text0}} </p>
  
</body>

</html>
